/* Failure.css */

.failure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Set your desired background color */
    width: 100vw;
  }
  
  .failure-box {
    padding: 20px;
    text-align: center;
    background-color: #f44336; /* Set your desired box background color */
    color: #fff; /* Set text color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s ease-in-out; 
    h2{
      color: white;
    }
  }
  
  .cross-mark {
    font-size: 3em;
    color: #fff; /* Set cross mark color */
    transform: translateY(100%);
    animation: slideIn 3s ease-out infinite; /* Increase the duration of slide-in animation */
  }
  .home-button-failure {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #15c53e; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: ZoomInZoomOut 2s infinite;
  }
  
  .home-button-failure:hover {
    background-color: #2980b9;
    font-size: x-large;
  }
  @keyframes ZoomInZoomOut {
    0% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.2); 
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-20%);
    }
    50% {
      transform: translateY(50%);
    }
    100%{
      transform: translateY(-20%);

    }
 
  }
  