.navbar {
  width: 100vw;
  background-color: #716a6a;
  padding: 3px 0px;
  margin: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Baloo Bhai 2', sans-serif;
  
}
.navbar h1{
  color: white;
  background-color: #716a6a;
  font-size: x-large;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

li {
  display: inline;
  margin-right: 20px;
}

/* a {
  text-decoration: none;
  color: white;
  font-weight: bold;
} */

a:hover {
  color: #a4860c; /* Set hover color */
}


ul li a.active {
  color: #ffcc00; /* Set active text color */
  border-bottom: 2px solid #ffcc00; 
  list-style: none;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .navbar{
    padding: 0px 0px;
  }
  .navbar h1{
    color: white;
    background-color: #716a6a;
    font-size: x-large;
  
  }
  /* ul {
 
    margin-left: 1.5rem;
  }
  li {
    display: inline;
    margin-right: 3rem;
  } */
}
