/* salary.css */

/* Style for the form container */
.salary-form {
    max-width: 400px;
    margin: 5rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the heading */
  .salary-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style for labels */
  .salary-label {
    margin-bottom: 8px;
    display: block;
  }
  
  /* Style for select dropdown */
  .salary-select {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .labelnInpt{
    width: 100%;
  }
 
  /* Style for year input */
  .salary-input {
    padding: 8px;
    border-radius: 5px;
    width: 90%;
    border: 1px solid #ccc;
    margin: auto;
  }#name{
    width: 90%;
  }
  
  @media only screen and (max-width: 600px) {
    .salary-form {
      max-width: 300px;
      margin: 5rem auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }